{
    "source": {
        "directories": [
            "src"
        ],
        "excludes": [
            "Controller",
            "DependencyInjection/SetonoSyliusOrderEditExtension.php",
            "Exception",
            "EventSubscriber",
            "Form"
        ]
    },
    "logs": {
        "text": "php://stderr",
        "github": true,
        "stryker": {
            "badge": "master"
        }
    },
    "minMsi": 100.00,
    "minCoveredMsi": 100.00,
    "testFrameworkOptions": "--testsuite=unit"
}
