{
    "source": {
        "directories": [
            "src"
        ],
    },
    "logs": {
        "text": "php://stderr",
        "github": true,
        "stryker": {
            "badge": "master"
        }
    },
    "minMsi": 70.00,
    "minCoveredMsi": 70.00,
}
