{% block _sylius_order_items_entry_widget %}
    <tr>
        <td>{{ form_widget(form.quantity) }}</td>
        <td>{{ form_widget(form.variant) }}</td>
        <td colspan="3">&nbsp;</td>
    </tr>
{% endblock %}
